<section *ngIf="bobDisplayer" >
    <h1 class="bobName">{{ bobDisplayer.name }}</h1>
    <a [routerLink]="['../..']" class="backButton">retour</a>
    <img src="{{bobDisplayer.image}}" alt="Image de {{bobDisplayer.name}}">
    <div class="infoContainer"> 
        <span>{{bobDisplayer.price}} €</span>
        <span *ngIf="bobDisplayer.isDelivery">Livraison disponible !</span>
        <span>{{sizeMessage}} {{bobDisplayer.size}}</span>
        <span> {{colorMessage}} {{bobDisplayer.color}}</span>
        <ng-container [ngSwitch]="isLoggedIn" >
            <div class="cart" *ngSwitchCase="true" >
                <a *ngIf="bobDisplayer.id" (click)="pushToCart(bobDisplayer.id)" >ajouter au panier</a>
                <a [routerLink]="['/userHome/cart']">Voir mon panier</a>
            </div>
            <a class="connection" *ngSwitchCase="false" [routerLink]="['/connection']">connectez-vous pour pouvoir commander cet article !</a>
        </ng-container>
    </div>

    <h1>caractéristiques</h1>
    <div class="carac" >    
        <span>{{bobDisplayer.desc}}</span>
        <ul>
            <li *ngFor="let carac of bobDisplayer.carac" > {{carac}} </li>
        </ul>
    </div>
</section>

<section id="sameBobsArea">
    <h1>produits similaires</h1>

    <div id="carousel" *ngIf="sameBobArray && samebobArrayLenght" >          
        <button (click)="prevElementCarousel()" class="prevBtn" >-</button>
        <a class="carouselBody" [routerLink]="['..',sameBobArray[index].id]">
            <img src="{{sameBobArray[index].image}}" alt="Image de {{sameBobArray[index].name}}">
            <span>{{sameBobArray[index].name}}</span>
            <span>{{sameBobArray[index].price}} €</span>
        </a> 
        
        <button (click)="nextElementCarousel()" class="nextBtn" >+</button>      
    </div>

</section>