
$boxShadowBottom : 0px 2px 3px 0px rgba(0,0,0,0.12);

span{margin-bottom: .2rem;}
span:last-child{margin-bottom: 0;}
.bobName{
        text-transform: capitalize;
        font-size: 1.3rem;
    }
.bobBrand{font-size: 1rem;}

.card {
    border-radius: 12px;
    padding: .5rem;
    display: flex;
    background-color: rgba(0,0,0,0.07);
    width: 80%;
    margin: 1rem auto 1rem auto ;
    border: 0px solid rgba(0,0,0,0.12);
    transition: transform .3s, box-shadow .3s, border .1s ;

    a{text-decoration: none;width: fit-content;}
    img {width: 150px;}
    .infos {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.card:hover {
    border: 2px solid rgba(0,0,0,0.12);
    transform: scale(1.05);
    box-shadow:$boxShadowBottom;
    transition: transform .3s , box-shadow .3s , border .1s;
}
