a{
    background-color: black;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: .3rem;
    border-radius: 7px;
    text-decoration: none;
    color: white;

}