<section id="presentation" >
    <h1>Bienvenue sur Cargo Bob</h1>
    <p>Besoin d'un jolie chapeau de type bob pour protéger votre petite tête du soleil ? Ou même la protéger des intempéries ? Ou peut-être même des insectes ? Pas de soucis ! Cargo bob est la pour vous offrir ce que vous recherchez à prix petits !</p>
</section>

<section id="topProduct" >
    <h1>Les meilleures ventes</h1>
    <p>Ici les meilleurs bobs selon nos utilisateurs !</p>
    
    <section id="bestBobArea">
        <app-card></app-card>
    </section>
</section>